
@{
    Layout = null;
}

<head>
    <style>
        #gradient {
          
          max-width: 100%;
          max-height: 100%;
          background-color: gray; 
          color: white;
          background-image: linear-gradient(-90deg, #808080,#000000);
        }
        table,th,td{
            border:1px solid;
            border-color:antiquewhite;
        }
        table{
            border-collapse:collapse;
        }
    </style>
   
</head>
<body id="gradient">
    
        <h2>Detalji fitnes centra: @ViewBag.Data.Ime</h2>
        <form >
            <table >
                <tr>
                    <td>
                        Id: @ViewBag.Data.Id

                    </td>

                </tr>
                <tr>
                    <td>
                        Adresa: @ViewBag.Data.NazivUlice @ViewBag.Data.BrojAdr, @ViewBag.Data.Mesto @ViewBag.Data.PostBr

                    </td>
                </tr>
                <tr>
                    <td>
                        Vlasnik fitnes centra - @ViewBag.Data.Ime: @ViewBag.Data.ImeVl @ViewBag.Data.Prz
                    </td>
                </tr>
                <tr>
                    <td>
                        Godina otvaranja: @ViewBag.Data.GodinaOtvaranja

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena mesecne clanarine: @ViewBag.Data.CenaMesecneClanarine,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena godisnje clanarine: @ViewBag.Data.CenaGodisnjeClanarine,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena jednog treninga: @ViewBag.Data.CenaJednogTreninga,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena jednog grupnog treninga: @ViewBag.Data.CenaJednogGrupnogTreninga,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena jednog treninga sa personalnim trenerom: @ViewBag.Data.CenaJednogTrSaPersonalnimTr,00

                    </td>
                </tr>
                <tr></tr>
               
            </table>
            <h4>Spisak predstojecih grupnih treninga:</h4>
            <table>
                <tr>
                    <th>Naziv i mesto:</th>
                    <th> Datum i vreme:</th>
                    <th> Tip treninga: </th>
                    <th>
                        Maksimalan broj posetilaca:
                    </th>
                    @if (ViewBag.Count != 0)
                    {
                        <th>Ukupan broj prijavljenih posetilaca na taj trening:</th>
                    }
                  

                </tr>
                @{
                    foreach (var item in ViewBag.GrupniTr)
                    {
                        
                        <tr>
                            <td>@item.Naziv @item.Id se odrzava u @item.FitnesCent</td>
                            
                            <td>@item.DatumIVremeTreninga.ToString("dd / MM / yyyy HH: mm")</td>


                            <td>@item.TipTreninga</td>
                           
                            <td>@item.MaxBrojPosetilaca</td>
                            @{
                                int count = 0;
                                foreach(var k in ViewBag.Lista)
                                {
                                    if (k.GrupniTreninziKorisnikPrijavljen != null)
                                    {
                                        for (int i = 0; i < k.GrupniTreninziKorisnikPrijavljen.Count; i++)
                                        {
                                            if (k.GrupniTreninziKorisnikPrijavljen[i] == item.Id)
                                            {
                                                count++;
                                            }
                                        }
                                    }


                                }

                            }
                           
                            <td>@count</td>
                                
                            
                            
                        </tr>
                    }
                    //fali jos ispis za posetioce koji su tu
                }

            </table>
            <h4>
                Povratak na<a href="~/Pocetni/Index"> pocetnu stranicu</a>
            </h4>
        </form>

   
</body>
