
@{
    Layout = null;
}
@using Projekat_WEB.Models
@model IEnumerable<GrupniTrening>

<head>
    <style>
        #gradient {
          
          max-width: 100%;
          max-height: 100%;
          background-color: gray; 
          color: white;
          background-image: linear-gradient(-90deg, #808080,#000000);
        }
        table,th,td{
            border:1px solid;
            border-color:antiquewhite;
        }
        table{
            border-collapse:collapse;
        }
    </style>
   
</head>
<body id="gradient">
    
        <h2>Detalji fitnes cenwtra: @ViewBag.Data.Ime</h2>
        
            <table >
                <tr>
                    <td>
                        Id: @ViewBag.Data.Id

                    </td>

                </tr>
                <tr>
                    <td>
                        Adresa: @ViewBag.Data.NazivUlice @ViewBag.Data.BrojAdr, @ViewBag.Data.Mesto @ViewBag.Data.PostBr

                    </td>
                </tr>
                <tr>
                    <td>
                        Vlasnik fitnes centra - @ViewBag.Data.Ime: @ViewBag.Data.ImeVl @ViewBag.Data.Prz
                    </td>
                </tr>
                <tr>
                    <td>
                        Godina otvaranja: @ViewBag.Data.GodinaOtvaranja

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena mesecne clanarine: @ViewBag.Data.CenaMesecneClanarine,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena godisnje clanarine: @ViewBag.Data.CenaGodisnjeClanarine,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena jednog treninga: @ViewBag.Data.CenaJednogTreninga,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena jednog grupnog treninga: @ViewBag.Data.CenaJednogGrupnogTreninga,00

                    </td>
                </tr>
                <tr>
                    <td>
                        Cena jednog treninga sa personalnim trenerom: @ViewBag.Data.CenaJednogTrSaPersonalnimTr,00

                    </td>
                </tr>
                <tr></tr>
               
            </table>
            <h4>Spisak predstojecih grupnih treninga:</h4>
    <table>
        <tr>
            <th>Naziv i mesto:</th>
            <th> Datum i vreme:</th>
            <th> Tip treninga: </th>
            <th>
                Maksimalan broj posetilaca:
            </th>
            @if (ViewBag.Count != 0)
            {
                <th>Ukupan broj prijavljenih posetilaca na taj trening:</th>
            }
            @{Korisnik ko = (Korisnik)Session["logedIn"];
                if (ko != null)
                {
                    if (ko.Uloga == UlogaEnum.Uloga.POSETILAC)
                    {
                        <th>Prijava:</th>
                    }
                }

              
            }

        </tr>
        @{
            foreach (var item in Model)
            {
                if (item.DatumIVremeTreninga > DateTime.Now && item.Obrisan==false)
                {
                    <tr>
                        <td>@item.Naziv @item.Id se odrzava u @item.FitnesCent</td>

                        <td>@item.DatumIVremeTreninga.ToString("dd/MM/yyyy HH:mm")</td>


                        <td>@item.TipTreninga</td>

                        <td>@item.MaxBrojPosetilaca</td>
                        @{
                            int count = 0;
                            foreach (var k in ViewBag.Lista)
                            {
                                if (k.GrupniTreninziKorisnikPrijavljen != null)
                                {
                                    for (int i = 0; i < k.GrupniTreninziKorisnikPrijavljen.Count; i++)
                                    {
                                        if (k.GrupniTreninziKorisnikPrijavljen[i] == item.Id)
                                        {
                                            count++;
                                        }
                                    }
                                }


                            }

                        }

                        <td>@count</td>

                        @if (Session["logedIn"] != null)
                    {
                        Korisnik k = (Korisnik)Session["logedIn"];
                        if (k.Uloga == UlogaEnum.Uloga.POSETILAC)
                        {
                            if (item.MaxBrojPosetilaca > count)
                            {
                                    <td>
                                        @{if (k.GrupniTreninziKorisnikPrijavljen == null)
                                            {
                                                k.GrupniTreninziKorisnikPrijavljen = new List<int>();
                                            }

                                            if (k.GrupniTreninziKorisnikPrijavljen.Count != 0 && k.GrupniTreninziKorisnikPrijavljen.Exists(x => x.Equals(item.Id)))
                                            {
                                                @ViewBag.Prijavljen
                                            }
                                            else
                                            {
                                                <form action="~/Posetilac/PrijavaTreninga" method="post">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <input type="submit" value="Prijavi se na trening" name="" />
                                                </form>
                                            }
                                        }
                                    </td>
                                            }

                                            else
                                            {
                                                <td> Popunjena mesta </td>
                                                    }
                                                }
                                            }
                    </tr>
                                                }

                                            }
        }
    </table>
    @{ 
        if (ViewBag.Komentari.Count != 0)
        {
            <p>Komentari koji su posetioci ostavlili:</p>
            <table>
                @foreach (var item in ViewBag.Komentari)
                {
                    foreach (var it in ViewBag.KorisniciKom)
                    {
                        <tr>
                            <th>Tekst komentara:</th>
                            <th>Ocena od 1 do 5:</th>
                            <th>Korisnicko ime:</th>
                        </tr>
                        <tr>
                            <td>
                                @item.TekstKomentara
                            </td>
                            <td>
                                @item.Ocena
                            </td>
                            <td>
                                @it.KorisnickoIme
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    }
    
    @if (Session["logedIn"] != null)
    {
        Korisnik kor = (Korisnik)Session["logedIn"];
        if (kor.Uloga == UlogaEnum.Uloga.POSETILAC)
        {
            bool dozvola = false;
            foreach (var item in Model)
            {
                if (kor.GrupniTreninziKorisnikPrijavljen.Exists(x => x.Equals(item.Id)) && item.Obrisan == false)
                {
                    dozvola = true;
                    break;
                }
            }

            if (dozvola)
            {
                <div style="border:1px solid antiquewhite;width: 250px; height: 300px;text-align:center">


                    <p>Ostavite komentar:</p>
                    <form action="~/Posetilac/UnosKomentara" method="post">
                        <p>Ocena fitnes centra od 1 do 5:</p><input type="number" name="ocena" />
                        <p>Teksta komentara</p><input type="text" name="tekst" />
                        <p>      </p>
                        <input type="hidden" value="@ViewBag.Data.Id" name="idFCa"/>
                        <input type="submit" value="Unesi komentar za fitnes centar" />
                    </form>
                </div>
            }
        }

    }
            <h4>
                Povratak na <a href="~/Pocetni/Index"> pocetnu stranicu</a>
            </h4>   
</body>