@{ 
    Layout = null;
}
@using Projekat_WEB.Models
@model IEnumerable<FitnesCentar>

<html>
    <head>
        <style>
            img {
                border: 3px solid red;
                padding: 5px;
                margin: 4px;
            }
            table,th,td,tr{
                border: 1px solid;
                border-color: antiquewhite;
                color: antiquewhite;
            }
            
        </style>
    </head>
    <body style="background-image:url(../../Content/Slike/fitnes1.jpg); max-width:100%; height:auto; ">
       <p style="color:antiquewhite;
                font-size:25px;
                
                text-align:center">
                Evidencija fitnes centara
       </p>
       
        <div style="float:right">
            
                <table>
                    <tr>
                        <th>
                            Naziv
                        </th>
                        <th>
                            Adresa
                        </th>
                        <th>
                            Godina otvaranja
                        </th>
                        <td></td>
                    </tr>
                    @foreach(var item in Model)
                    {
                        <tr>
                                <td>
                                    @item.Ime
                                </td>
                                <td>
                                    @item.NazivUlice @item.BrojAdr,@item.Mesto
                                </td>
                                <td>
                                    @item.GodinaOtvaranja
                                </td>                          
                            <td>
                                <form action="~/Pocetni/Detalji" method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" value="Detalji" name="" />
                                </form>                               
                            </td>                          
                        </tr>
                        
                    }

            </table>
           
        </div>
      
        <div style="position:absolute;bottom: 10px">
            <p style="color:antiquewhite">Pretražite fitnes centar po:</p>
            <form action="~/Pretraga/PretragaNaziv" method="post">
                <table>
                    <tr>
                        <td>Nazivu:</td>
                        <td>
                            <input type="text" name="ime" />
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Pretraži" />
                        </td>
                    </tr>
                </table>
            </form>
            <form action="~/Pretraga/PretragaAdresa" method="post">
                <table>
                    <tr>
                        <td>Adresi:</td>
                        <tr>
                            <td>
                                Ulica:
                            </td>
                            <td>
                                <input type="text" name="ulica" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Broj ulice:
                            </td>
                            <td>
                                <input type="text" name="brojUlice" />
                            </td>
                        </tr>
                        <tr>
                            <td>Mesto:</td>
                            <td>
                                <input type="text" name="mesto" />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Pretraži" />
                            </td>
                        </tr>
                   
                    
                    
                </table>
            </form>
            <form action="~/Pretraga/PretragaGodine" method="post">
                <table>
                    <tr>
                        <td>
                            Godina-od:
                        </td>
                        <td>
                            <input type="text" name="godMin" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Godina-do:
                        </td>

                        <td>
                            <input type="text" name="godMaks" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Pretraži" />
                        </td>
                    </tr>
                </table>
               
            </form>
           
        </div>
    </body>
</html>



