@{ 
    Layout = null;
}
@using Projekat_WEB.Models
@model IEnumerable<FitnesCentar>

<html>
    <head>
        <style>
            img {
                border: 3px solid red;
                padding: 5px;
                margin: 4px;
            }
            table,th,td,tr{
                border: 1px solid;
                border-color: antiquewhite;
                color: antiquewhite;
            }
            input[type=submit]{
                background-color:antiquewhite;
                color: black;

            }
            
            
        </style>
    </head>
    <body style="background-image:url(../../Content/Slike/fitnes1.jpg); max-width:100%; height:auto; ">
       <p style="color:antiquewhite;
                font-size:25px;
                
                text-align:center">
                Evidencija fitnes centara
       </p>
        @{ 
            if (Session["logedIn"] != null)
            {
                Korisnik k = (Korisnik)Session["logedIn"];
                <p style="color:antiquewhite">Korisnik je ulogovan!</p>
                <form action="~/Pocetni/Edit" method="post">
                    <input type="submit" value="Uredi i pregledaj svoj profil"/>
                </form>
                if(k.Uloga == "POSETILAC")
                {
                    <form method="post" action="~/Posetilac/IstorijaTreninga">
                        <input type="submit" value="Istorija prijavljenih treninga" />
                    </form>
                }
                if (k.Uloga == "TRENER")
                {
                    
                    <form method="post" action="~/Trener/Prikazi">
                        <input type="submit" value="Prikazi svoje  grupne treninge"/>
                    </form>
                    <form method="post" action="~/Trener/KreirajTrening">
                        <input type="submit" value="Kreiraj grupni trening" />
                    </form>
                }
                if (k.Uloga == "VLASNIK")
                {
                    if (ViewBag.Message != null)
                    {
                        <p>@ViewBag.Message</p><br />
                    }
                    <form method="post" action="~/Vlasnik/RegistrujTrenera">
                        <input type="submit" value="Registruj novog trenera" />
                    </form>
                    <form method="post">
                        <input type="submit" value="Prikazi svoje fitnes centre" />
                    </form>
                    <form method="post">
                        <input type="submit" value="Pristigli komentari" />
                    </form>
                }

                <form action="~/Registracija/LogOut" method="post">
                    <input type="submit" value="Odjavi se" />
                </form>


            }
            else
            {
                <div style="float:left">
                    <p style="color:antiquewhite">Registracija korisnika</p>
                    <form action="~/Registracija/Add" method="post">
                        <table>
                            <tr>
                                <td style="color:antiquewhite">Username:</td>
                                <td>
                                    <input type="text" name="korisnickoime" />
                                </td>
                            </tr>
                            <tr>
                                <td style="color:antiquewhite">Password:</td>
                                <td>
                                    <input type="password" name="lozinka" />
                                </td>
                            </tr>
                            <tr>
                                <td style="color:antiquewhite">Ime:</td>
                                <td>
                                    <input type="text" name="ime" />
                                </td>
                            </tr>
                            <tr>
                                <td style="color:antiquewhite">Prezime:</td>
                                <td>
                                    <input type="text" name="prezime" />
                                </td>
                            </tr>
                            <tr>
                                <td style="color:antiquewhite">Pol:</td>
                                <td>
                                    <input list="pol" name="pol" />
                                    <datalist id="pol">
                                        <option value="ZENSKI"></option>
                                        <option value="MUSKI"></option>
                                    </datalist>
                                </td>
                            </tr>
                            <tr>
                                <td style="color:antiquewhite">Email:</td>
                                <td>
                                    <input type="text" name="email" />
                                </td>
                            </tr>
                            <tr>
                                <td style="color:antiquewhite">Datum rodjenja:</td>
                                <td>
                                    <input type="date" name="godinaRodjenja"
                                           min="1970-01-01" max="2022-12-31">
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align:center" ; colspan="2">
                                    <input type="submit" value="Registruj se" />
                                </td>
                            </tr>

                        </table>
                    </form>

                </div>
                <div style="float:left">
                    <p style="color:antiquewhite">Logovanje korisnika</p>
                    <form action="~/Registracija/Login" method="post">
                        <table>
                            <tr>
                                <td>Korisnicko ime:</td>
                                <td><input type="text" name="korisnickoIme" /></td>
                            </tr>
                            <tr>
                                <td>Lozinka:</td>
                                <td><input type="password" name="lozinka" /></td>
                            </tr>
                            <tr>
                                <td style="text-align:center" ; colspan="2"><input type="submit" value="Prijavi se" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            }
        }
        
        
       
        <div style="float:right">
            
                <table>
                    <tr>
                        <th>
                            Naziv
                        </th>
                        <th>
                            Adresa
                        </th>
                        <th>
                            Godina otvaranja
                        </th>
                        <td></td>
                    </tr>
                    @foreach(var item in Model)
                    {
                        <tr>
                                <td>
                                    @item.Ime
                                </td>
                                <td>
                                    @item.NazivUlice @item.BrojAdr,@item.Mesto
                                </td>
                                <td>
                                    @item.GodinaOtvaranja
                                </td>                          
                                <td>
                                    <form action="~/Pocetni/Detalji" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" value="Detalji" name="" />
                                    </form>                               
                                </td>                          
                        </tr>
                        
                    }

            </table>
            <div style="text-align:right">


                <h4 style="color:antiquewhite">Sortiraj:</h4>
                <form action="~/Sortiranja/OpadajuceNaziv" method="post">


                    <input type="submit" value="opadajuce - naziv" />

                </form>
                <form action="~/Sortiranja/OpadajuceAdrese" method="post">


                    <input type="submit" value="opadajuce - adresa" />

                </form>
                <form action="~/Sortiranja/OpadajuceGodine" method="post">


                    <input type="submit" value="opadajuce - godine" />


                </form>
                <form action="~/Sortiranja/RastuceNaziv" method="post">


                    <input type="submit" value="rastuce - naziv" />

                </form>
                <form action="~/Sortiranja/RastuceAdrese" method="post">


                    <input type="submit" value="rastuce - adresa" />

                </form>
                <form action="~/Sortiranja/RastuceGodine" method="post">


                    <input type="submit" value="rastuce - godine" />

                </form>
            </div>
        </div>
      
        <div style="position:absolute;bottom: 10px">
            <p style="color:antiquewhite">Pretražite fitnes centar po:</p>
            <form action="~/Pretraga/PretragaKombinovano" method="post">
                <table>
                    <tr>
                        <td>Nazivu:</td>
                        <td>
                            <input type="text" name="ime" />
                        </td>
                        
                    </tr>
                    <tr>
                        <td>Adresi:</td>
                        <tr>
                            <td>
                                Ulica:
                            </td>
                            <td>
                                <input type="text" name="ulica" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Broj ulice:
                            </td>
                            <td>
                                <input type="text" name="brojUlice" />
                            </td>
                            
                        </tr>
                        <tr>
                            <td>Mesto:</td>
                            <td>
                                <input type="text" name="mesto" />

                            </td>
                        </tr>
               
                    <tr>
                        <td>
                            Godina-od:
                        </td>
                        <td>
                            <input type="text" name="godMin" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Godina-do:
                        </td>

                        <td>
                            <input type="text" name="godMaks" />
                        </td>
                    </tr>
                    <tr>
                        <td  style="text-align:center"; colspan="2">
                            <input type="submit" value="Pretraži" />
                        </td>
                    </tr>
                </table>
               
            </form>
           
        </div>
    </body>
</html>



