
@{
    Layout = null;
}
@using Projekat_WEB.Models;
@model IEnumerable<FitnesCentar>
<head>
    <style>
        #gradient {
            max-width: 100%;
            max-height: 100%;
            background-color: gray;
            color: white;
            background-image: linear-gradient(-90deg, #808080,#000000);
        }
    </style>

</head>
<body id="gradient">
    
    
    @if (ViewBag.Message == null)
    {
        if (ViewBag.Data != null)
        {//naziv

            <h2>Ime fitnes centra: @ViewBag.Data.Ime</h2>
            <form>
                <table>
                    <tr>
                        <td>
                            Id: @ViewBag.Data.Id

                        </td>

                    </tr>
                    <tr>
                        <td>
                            Adresa: @ViewBag.Data.NazivUlice @ViewBag.Data.BrojAdr, @ViewBag.Data.Mesto @ViewBag.Data.PostBr

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vlasnik fitnes centra - @ViewBag.Data.Ime: @ViewBag.Data.ImeVl @ViewBag.Data.Prz
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Godina otvaranja: @ViewBag.Data.GodinaOtvaranja

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cena mesecne clanarine: @ViewBag.Data.CenaMesecneClanarine,00

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cena godisnje clanarine: @ViewBag.Data.CenaGodisnjeClanarine,00

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cena jednog treninga: @ViewBag.Data.CenaJednogTreninga,00

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cena jednog grupnog treninga: @ViewBag.Data.CenaJednogGrupnogTreninga,00

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cena jednog treninga sa personalnim trenerom: @ViewBag.Data.CenaJednogTrSaPersonalnimTr,00

                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <p>
                                Povratak na<a href="~/Pocetni/Index"> pocetnu stranicu</a>
                            </p>
                        </td>
                    </tr>
                </table>


            </form>


        }


        if (ViewBag.Nadjeni != null)
        {
            //godine
            foreach (var fc in ViewBag.Nadjeni)
            {
                if (ViewBag.Data != fc)
                {
                        <h2>Ime fitnes centra: @fc.Ime</h2>

                        <table>
                            <tr>
                                <td>
                                    Id: @fc.Id

                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Adresa: @fc.NazivUlice @fc.BrojAdr, @fc.Mesto @fc.PostBr

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Vlasnik fitnes centra - @fc.Ime: @fc.ImeVl @fc.Prz
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Godina otvaranja: @fc.GodinaOtvaranja

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cena mesecne clanarine: @fc.CenaMesecneClanarine,00

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cena godisnje clanarine: @fc.CenaGodisnjeClanarine,00

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cena jednog treninga: @fc.CenaJednogTreninga,00

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cena jednog grupnog treninga: @fc.CenaJednogGrupnogTreninga,00

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cena jednog treninga sa personalnim trenerom: @fc.CenaJednogTrSaPersonalnimTr,00

                                </td>
                            </tr>
                        </table>

                }

            }


                <a href="~/Pocetni/Index">Pocetna stranica</a>

        }
        if (ViewBag.AdresaNadjen != null)
        {
            //adresa
            <h2>Ime fitnes centra: @ViewBag.AdresaNadjen.Ime</h2>
                <form>
                    <table>
                        <tr>
                            <td>
                                Id: @ViewBag.AdresaNadjen.Id

                            </td>

                        </tr>
                        <tr>
                            <td>
                                Adresa: @ViewBag.AdresaNadjen.NazivUlice @ViewBag.AdresaNadjen.BrojAdr, @ViewBag.AdresaNadjen.Mesto @ViewBag.AdresaNadjen.PostBr

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vlasnik fitnes centra - @ViewBag.AdresaNadjen.Ime: @ViewBag.AdresaNadjen.ImeVl @ViewBag.AdresaNadjen.Prz
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Godina otvaranja: @ViewBag.AdresaNadjen.GodinaOtvaranja

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cena mesecne clanarine: @ViewBag.AdresaNadjen.CenaMesecneClanarine,00

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cena godisnje clanarine: @ViewBag.AdresaNadjen.CenaGodisnjeClanarine,00

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cena jednog treninga: @ViewBag.AdresaNadjen.CenaJednogTreninga,00

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cena jednog grupnog treninga: @ViewBag.AdresaNadjen.CenaJednogGrupnogTreninga,00

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cena jednog treninga sa personalnim trenerom: @ViewBag.AdresaNadjen.CenaJednogTrSaPersonalnimTr,00

                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <p>
                                    Povratak na<a href="~/Pocetni/Index"> pocetnu stranicu</a>
                                </p>
                            </td>
                        </tr>
                    </table>


                </form>
        }

        else
        {
            <h2>
                Probaj <a href="~/Pocetni/Index">opet</a>
            </h2>
        }
    }



</body>

