
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@using Projekat_WEB.Models
@model IEnumerable<Korisnik>

<head>
    <style>
        table,th,td,tr{
            border-color: antiquewhite;
            border: 1px solid;
            color: antiquewhite;
            }
        #gradient {
          
          max-width: 100%;
          max-height: 100%;
          background-color: gray; 
          color: white;
          background-image: linear-gradient(-90deg, #808080,#000000);
        }
    </style>
    
</head>
<body id="gradient">


    
      
    <div style="float:left">
        <table>
            <tr><th>Zavrseni grupni treninzi</th></tr>

            @if (ViewBag.GtsTrenerZavrseni != null)
            {
                foreach (var item in ViewBag.GtsTrenerZavrseni)
                {

                    if (item.Obrisan == false)
                    {
                        <tr>
                            <td>
                                @item.Naziv @item.Id je odrzan(@item.TipTreninga) u @item.DatumIVremeTreninga - @item.FitnesCent
                            </td>
                            <td>
                                <form method="post" action="~/Trener/SpisakPosetilaca">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" value="Spisak posetilaca" />
                                </form>
                            </td>
                        </tr>
                    }


                }
            }

        </table>
        <form action="~/Trener/PretragaKombinovano" method="post">
            <p>Pretraga grupnih treninga</p>
            <table>
                <tr>
                    <td>Nazivu/id-ju: Grupni trening</td>                   
                    <td>
                        <input type="number" name="id" value="0" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Tip treninga:
                    </td>
                    <td>
                        <input list="tip" name="tipTreninga" />
                        <datalist id="tip">
                            <option value="YOGA"></option>
                            <option value="LES MILLS TONE"></option>
                            <option value="BODYPUMP"></option>
                            <option value="BODYCOMBAT"></option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center" ; colspan="2">
                        <input type="submit" value="Pretraži" />
                    </td>
                </tr>
            </table>
          </form>



        <h4 style="color:antiquewhite">Sortiraj:</h4>
        <form action="~/Sortiranja/OpadajuceNazivTrening" method="post">


            <input type="submit" value="opadajuce - naziv" />

        </form>
        <form action="~/Sortiranja/OpadajuceTipTrening" method="post">


                        <input type="submit" value="opadajuce - tip treninga" />

        </form>
        <form action="~/Sortiranja/OpadajuceDatumTrening" method="post">


                        <input type="submit" value="opadajuce - datum" />


        </form>
        <form  action="~/Sortiranja/RastuceNazivTrening" method="post">


                        <input type="submit" value="rastuce - naziv" />

        </form>
        <form action="~/Sortiranja/RastuceTipTrening" method="post">


                        <input type="submit" value="rastuce - tip treninga" />

        </form>
        <form action="~/Sortiranja/RastuceDatumTrening" method="post" >


                        <input type="submit" value="rastuce - datum" />

        </form>

       
    </div>

    <div style="float:right">

        <table>
            <tr><th>Predstojeci grupni treninzi</th></tr>

            @if (ViewBag.GtPredstojeci != null)
            {
                
                foreach (var item in ViewBag.GtPredstojeci)
                {
                    bool nadjen = false;
                    if (item.Obrisan == false)
                    {
                        <tr>

                            <td>
                                @item.Naziv @item.Id se odrzava u @item.DatumIVremeTreninga.ToString("dd/MM/yyyy HH:mm") - @item.FitnesCent
                            </td>
                            
                                @foreach (var it in ViewBag.Korisnici)
                                {
                                    if (it.Uloga == UlogaEnum.Uloga.POSETILAC)
                                    {
                                        for (int i = 0; i < it.GrupniTreninziKorisnikPrijavljen.Count; i++)
                                        {
                                            if (it.GrupniTreninziKorisnikPrijavljen[i] == item.Id)
                                            {
                                                nadjen = true;
                                                break;
                                            }
                                           
                                        }
                                    }

                                }
                            @if (nadjen)
                            {
                                <td>
                                    Prijavljen posetilac,
                                    <form method="post" action="~/Trener/ModifikujTrening">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" value="Modifikuj" />
                                    </form>
                                    <form method="post" action="~/Trener/SpisakPosetilaca">
                                        <input  type="hidden" name="id" value="@item.Id"/>
                                        <input  type="submit" value="Spisak posetilaca"/>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form method="post" action="~/Trener/ObrisiTrening">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" value="Obrisi" />
                                    </form>
                                    <form method="post" action="~/Trener/ModifikujTrening">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" value="Modifikuj" />
                                    </form>
                                </td>
                            }

                             </tr>               
                                               

                                            
                       }

                }
            }


        </table>

    </div>
     
        <h4 style="position:absolute; bottom:0;left:0">
            Povratak na <a href="~/Pocetni/Index"> pocetnu stranicu</a>
        </h4>   
    
</body>
